/* body {
  background-image: linear-gradient(to top, rgba(16,16,98,0.729)0%, rgba(56, 16, 108, 0.805)100%), url(../img/home5.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  background-color: rgb(53, 12, 90);
  overflow: hidden;
  width: 100%;
  height: 100vh;
} */